*{
    margin: 0;
    padding: 0;
    font-family: 'Luckiest Guy', cursive;

}
a{
    color: rgba(24, 23, 23, 0.75);
}
.header {
    /* background-color: #000; */
    box-shadow: 1px 1px 4px 0 rgba(24, 23, 23, 0.75);
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  a img{
      width: 200px;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: rgba(24, 23, 23, 0.75);;
    margin-right: 100px;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: rgba(24, 23, 23, 0.75);;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #fff;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #fff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }
  
.container{
    max-width: 1440px;
}

.main-page{
    background-image: url(../img/bgc-img2.jpeg);
    
    background-position: center;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    position: relative;
}
header{
    background: rgba(24, 23, 23, 0.75);
    position: fixed;
    width: 100%;
    height: 150px;
    z-index: 1;
}
header .menu{
    margin-top: 40px;
}
header .logo img{
    width: 190px;
    margin-top: -20px;
}
header .links{
    margin: 56px;
    display: flex;
    justify-content: space-between;
}
header a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    padding: 20px;
}
.imgs{
    width: 100%;
    max-width: 1435px;
}
.about-page{
    background-image: url(../img/bg03.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
.about-page h2{
    color: #fff;
    background: #000;
    font-size: 40px;
    padding: 40px;
    padding-left: 450px;
}
span{
    color: yellow;
}
.about-page-blocks{
    display: flex;
    justify-content: space-around;
    position: relative;
}
.about-page-block img{
    width: 400px;
    margin-top: -230px;
}
.about-page-block p{
    color: #fff;
    background: rgba(24, 23, 23, 0.75);
    padding: 20px;
    font-size: 24px;
    margin-top: 100px;
    font-weight: 400;
    line-height: 33px;
}
.about-page-block span{
    font-size: 25px;
}
.character-page{
    background: #000;
    position: relative;
    padding-bottom: 100px;
}
.character-page .char{
    margin-top: -35px;
}
.heroes {
    margin-top: 50px;
    width: 800px;
    margin: 0 auto;
    padding-top: 50px;
    margin-bottom: 50px;
}
.heroes img{
    width: 150px;
}
.movie-page{
    position: relative;
    background: #000;
    background-image: url(../img/bg_movie.png);
    padding-bottom: 140px;
}
.movie-page .mov{
    margin-top: -130px;
}
.movie-page h2{
    color: #fff;
    text-align: center;
    padding: 50px 0 50px 0;
}
.seasons{
    display: block;
    text-align: center;
    margin: 0 auto;
    max-width: 1000px;
}
.movie-page button{
    color: #fff;
    background: rgb(85, 77, 77);
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    margin: 5px;
    border: none;
}
.movie-page a{
    margin: 0 auto;
    text-decoration: none;
}

.gallery-page{
    background: #000;
    background-image: url(../img/bg_gallery.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
}
.gallery-page .gall{
    margin-top: -100px;
}
footer{
    background: #000;
    height: 300px;
    text-align: center;
    margin-top: 40px;
}
footer a img{
    margin-top: 100px;
    width: 80px;
}
footer a{
    text-decoration: none;
    color: #fff;
    padding: 8px;
    margin-top: 20px;
}
footer p{
    color: #fff;
    margin-top: 80px;
    font-size: 12px;
}
.slider1{
    margin-bottom: 50px;
    border: 5px solid yellow;
}
.slider2{
    border: 5px solid yellow;
}
.slider1 img{
    width: 200px;
    height: 300px;
}
.slider2 img{
    width: 200px;
    height: 300px;
}

#toTop {
    width: 90px;
    text-align: center;
    padding: 50px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    display: none;
}
@media(max-width: 1300px){
    .container{
        max-width: 1290px;
    }
    .about-page h2{
        font-size: 30px;
    }
}
@media(max-width: 1144px){
    .container{
        max-width: 1140px;
    }
    .about-page h2{
        font-size: 23px;
    }
    .about-page-block p{
        font-size: 17px;
        margin-top: 20px;
    }
    .about-page-block p span{
        font-size: 19px;
    }
    .imgs{
        width: 100%;
    }
    .heroes{
        max-width: 700px;
        text-align: center;
    }
    .seasons{
        display: block;
        margin: 0 auto;
        max-width: 800px;
    }
    #toTop img{
        width: 90px;
    }

}
@media(max-width: 600px){
    .container{
        max-width: none;
    }
    .about-page{
        display: block;
        height: 700px;
    }
    .toggle{
        display: block;
        float: left;
        margin: 20px;
        margin-top: 20px;
        font-size: 30px;
    }
    #chek:checked + header{
        display: none;
    }
    .about-page h2{
        font-size: 25px;
        padding: 10px;
    }
    .about-page-blocks{
        display: block;
    }
    .about-page-block img{
        display: none;
    }
    .about-page-block p{
        font-size: 17px;
        margin-top: 20px;
    }
    .about-page-block p span{
        font-size: 19px;
    }
    .heroes{
        text-align: center;
        max-width: 500px;
    }
    .seasons{
        display: block;
        margin: 0 auto;
        max-width: 400px;
    }
}