*{
    margin: 0;
    padding: 0;
}
header{
    background-image: url(../img/bgc-img2.jpeg);
    background-position: center;
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
}